services/ScreenCastService_0.1.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="ScreenCastService"
		xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
		xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
		xmlns:xsd="http://www.w3.org/2001/XMLSchema"
		xmlns:tns="http://www.talend.org/service/"
		targetNamespace="http://www.talend.org/service/">

	<wsdl:types>
		<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
			targetNamespace="http://www.talend.org/service/">
			<xsd:element name="ScreenCastServiceOperationRequest">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="in" type="xsd:string"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="ScreenCastServiceOperationResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="out" type="xsd:string"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:schema>
	</wsdl:types>

	<wsdl:message name="ScreenCastServiceOperationRequest">
		<wsdl:part name="parameters" element="tns:ScreenCastServiceOperationRequest"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="ScreenCastServiceOperationResponse">
		<wsdl:part name="parameters" element="tns:ScreenCastServiceOperationResponse"></wsdl:part>
	</wsdl:message>

	<wsdl:portType name="ScreenCastServicePortType">
		<wsdl:operation name="ScreenCastServiceOperation">
			<wsdl:input message="tns:ScreenCastServiceOperationRequest"></wsdl:input>
			<wsdl:output message="tns:ScreenCastServiceOperationResponse"></wsdl:output>
		</wsdl:operation>
	</wsdl:portType>

	<wsdl:binding name="ScreenCastServiceBinding" type="tns:ScreenCastServicePortType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="ScreenCastServiceOperation">
			<soap:operation soapAction="http://www.talend.org/service/ScreenCastServiceOperation" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>

	<wsdl:service name="ScreenCastService">
		<wsdl:port name="ScreenCastServicePort" binding="tns:ScreenCastServiceBinding">
			<soap:address location="http://localhost:8090/services/ScreenCastService" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>